@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

html,body{
    padding: 0;
    margin:0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #252525;
  font-size: 16px;
  font-weight: 400;
}

p {
  margin: 0 0 15px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-family: 'Poppins', sans-serif;
}

.header-area{
    padding: 40px;
    color: black;
    background: white;
    position: initial !important;
    font-family: 'Poppins', sans-serif;
}

img.logo{
    width: 80%;
}

/*baris/ line tempat bar menu*/
.menu{
    background-color: transparent;
    position: relative;
    left: auto;
}

/*baris/ line tempat bar menu dan menu dropdown*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*bar menu*/
.menu > ul > li {
    float: left;
}

/*bar menu dan tulisan dropdown*/
.menu li a {
    display: inline-block;
    color: black;
    padding-left: 45px;
    text-decoration: none;
    
}

/*tulisan menu dropdown ketika hover [product] */
.menu li a:hover{
    background-color: transparent;
}

/* AWAL MENU DROPDOWN*/
.menu ul > li ul.list-dropdown{
    background: #ffffff repeat scroll 0 0;
    position: absolute;
    margin-left: 45px;
    /*width: 200px;*/
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
    transform-origin: 0 0 0;
    position: absolute;
    text-align: left;
    transform: scaleY(0.4);
}

.menu ul > li:hover ul.list-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    align-items: center;
    float: none !important;
}

.menu ul > li ul.list-dropdown li{
    border-bottom: 1px solid #eef0f2;
}

.menu ul > li ul.list-dropdown li:last-child {
    border-bottom: 0;
}

.menu ul > li ul.list-dropdown li a {
    font-size: 14px !important;
    width: 200px;
    display: block;
    padding: 14px 18px;
    color: #454545;
    transition: all ease-in-out 0.3s;
}

.menu ul > li ul.list-dropdown li a:hover {
    color: #37b721;
}

/*=====basce css end here=========*/
/*============================== theme buttons css goes here ===============================*/
.travel-primary-btn, .travel-primary-btn-sm, .read-more, .quick-shop, .thailan-btn, .travel-primary-btn-2 {
  background: #37b721;
  display: inline-block;
  padding: 12px 29px !important;
  border-radius: 3px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-decoration: none;
}

.block-text .single-box::before, .block-text .single-box::after {
  content: '\f10d ';
  font-family: fontawesome;
  font-size: 50px;
  left: 20px;
  position: absolute;
  top: -30px;
  z-index: -22;
  color: #e1f4de;
}


/* AKHIR MENU DROPDOWN*/

/* menu bar Daftar/ Masuk */
div > div.register a{
    margin-left: 60%;
    color: black !important;
    text-decoration: none !important;
}

/*Awal Slider Area [Slideshow] [_slider.scss] */

.slider_bg_1 {
    background-image: url(../images/banner/banner.png);
  }
  
 
  .slider_bg_2 {
    background-image: url(../images/banner/banner2.png);
  }
  
 
  .slider_bg_3 {
    background-image: url(../images/banner/banner3.png);
  }
  

  .slider_area {
    position: relative;
    z-index: 0;
  }
  

  .slider_area .single_slider {
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  
@media (max-width: 767px) {

    .slider_area .single_slider {
      height: auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {

    .slider_area .single_slider {
      height: 600px;
    }
  }
  
  @media (max-width: 767px) {

    .slider_area .single_slider .slider_text {
      margin: 100px 0 50px 0;
    }
  }
  

  .slider_area .single_slider .slider_text h3 {
    font-family: "Nothing You Could Do", cursive;
    font-size: 150px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: .5;
    color: #fff;
    margin-bottom: 0;
  }
  
  @media (max-width: 767px) {

    .slider_area .single_slider .slider_text h3 {
      font-size: 50px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {

    .slider_area .single_slider .slider_text h3 {
      font-size: 94px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {

    .slider_area .single_slider .slider_text h3 {
      font-size: 100px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {

    .slider_area .single_slider .slider_text h3 {
      font-size: 120px;
    }
  }
  

  .slider_area .single_slider .slider_text p {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    margin-top: 33px;
    margin-bottom: 49px;
  }
  
  @media (max-width: 767px) {

    .slider_area .single_slider .slider_text p {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  .slider_area .owl-carousel .owl-nav div {
    height: 120px;
    left: 0px;
    width: 50px;
    color: #fff;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    left: 50px;
    font-size: 14px;
    border: none;
    left: 150px;
    line-height: 120px;
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    border: none !important;
  }
  
  .slider_area .owl-carousel .owl-nav div.owl-next {
    right: 0;
    left: auto;
  }
  
  .slider_area .owl-carousel .owl-nav div:hover {
    background: white;
    color: #001D38;
    border: none;
  }

/*Awal Button Explorer [_btn.scss ]*/

.boxed-btn3 {
    background: #1EC6B6;
    color: #fff;
    display: inline-block;
    padding: 18px 41px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none !important;
  }
   
  .boxed-btn3:hover {
    background: #FF4A52;
    color: #fff !important;
  }
   
  .boxed-btn3:focus {
    outline: none;
  }
  
  .boxed-btn3.large-width {
    width: 220px;
  }
   
  .boxed-btn4 {
    background: #FF4A52;
    color: #fff;
    display: inline-block;
    padding: 13px 39px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .boxed-btn4:hover {
    background: #1EC6B6;
    color: #fff !important;
  }
    
  .boxed-btn4:focus {
    outline: none;
  }
   
  .boxed-btn4.large-width {
    width: 220px;
  }

/*Akhir Button Explorer [_btn.scss ]*/

/*Awal Tulisan Slider didepan [Overlay]*/
.slider_text {
    position: inherit;
    z-index: 2;
}
/*Akhir Tulisan Slider didepan [Overlay]*/

/*Awal Slider Overlay [Gambar tdk terang]*/
.slider_area .slider-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}
.slider_area .slider-overlay:before {
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
/*Awal Slider Overlay [Gambar tdk terang]*/

  /*Akhir Slider Area [Slideshow] [_slider.scss]*/

  /*===================================================== 03. tab-search-area section title css goes here =======================================================*/
  .tabbased-search-area{
    z-index: 999;
  }

  .tabbased-search-area .tab-content input[type="text"], .tabbased-search-area .tab-content input[type="number"], .tabbased-search-area .tab-content .custom-select{
    background: transparent !important;
    border: 1px solid #363E52 !important;
    border-right: 0px solid #ccc !important;    
    font-family: 'Poppins', sans-serif;
  }

  .tab-content{
    font-family: "Rubik", sans-serif ;
  }

  label[for="sel"]{
    color: #9c9c9c;
    font-size: 10px !important;
    font-family: "Rubik", sans-serif !important;
  }

  .tabbased-search-area {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background: #040E27;
    padding: 50px;
}
.tabbased-search-area a:focus {
    outline: none;
}
.tabbased-search-area .tabbable-menu .tab-menu {
    text-align: center;
    margin-bottom: 30px;
}
.tabbased-search-area .tabbable-menu .tab-menu li {
    display: inline-block;
    padding: 20px;
}
.tabbased-search-area .tabbable-menu .tab-menu li a {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
    display: block;
}
.tabbased-search-area .tabbable-menu .tab-menu li a:before {
    position: absolute;
    width: 0;
    height: 2px;
    background: #37b721;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -30px;
    text-align: center;
    transition: all ease-in-out .5s;
    opacity: 0;
    visibility: hidden;
}
.tabbased-search-area .tabbable-menu .tab-menu li a img {
    margin-left: 20px;
    margin-top: -10px;
}
.tabbased-search-area .tabbable-menu .tab-menu li a:hover {
    color: #37b721;
}
.tabbased-search-area .tabbable-menu .tab-menu li:hover a:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}
.tabbased-search-area .tabbable-menu .tab-menu li.active a {
    color: #37b721;
}
.tabbased-search-area .tabbable-menu .tab-menu li.active a:before {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.tabbased-search-area .tab-content .custom-select-open div {
    text-align: left !important;
}
.tabbased-search-area .tab-content .hotels-form input, .tabbased-search-area .tab-content .flights-form input {
    -moz-user-select: none;
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    color: #AAB1B7;
    height: 53px;
    padding: 16px;
    position: relative;
    text-align: left;
    width: 100%;
}
.tabbased-search-area .tab-content .hotels-form input:focus, .tabbased-search-area .tab-content .flights-form input:focus {
    outline: none;
}
.tabbased-search-area .tab-content .hotels-form input::-webkit-input-placeholder, .tabbased-search-area .tab-content .flights-form input::-webkit-input-placeholder {
  color: #AAB1B7;
}
.tabbased-search-area .tab-content .hotels-form input::-moz-input-placeholder, .tabbased-search-area .tab-content .flights-form input::-moz-input-placeholder {
  color: #AAB1B7;
}
.tabbased-search-area .tab-content .hotels-form input::-ms-input-placeholder, .tabbased-search-area .tab-content .flights-form input::-ms-input-placeholder {
  color: #AAB1B7;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-2, .tabbased-search-area .tab-content .flights-form .hotel-input-2 {
    width: 20%;
    float: left;
    /*border-right: 1px solid #ccc;*/
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4, .tabbased-search-area .tab-content .flights-form .hotel-input-4 {
    width: 25%;
    float: left;
    /*border-right: 1px solid #ccc;*/
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4 .custom-select, .tabbased-search-area .tab-content .flights-form .hotel-input-4 .custom-select {
    width: 100%;
    height: 53px;
    border: none;
    background: #fff url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center right 25px;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4 .custom-select a, .tabbased-search-area .tab-content .flights-form .hotel-input-4 .custom-select a {
  color: #AAB1B7;
    text-align: left;
    padding: 16px 20px;
}

.tabbased-search-area .tab-content .hotels-form .hotel-input-4-23, .tabbased-search-area .tab-content .flights-form .hotel-input-4-23 {
    width: 23%;
    float: left;
    /*border-right: 1px solid #ccc;*/
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4-23 .custom-select, .tabbased-search-area .tab-content .flights-form .hotel-input-4-23 .custom-select {
    width: 100%;
    height: 53px;
    border: none;
    background: #fff url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center right 25px;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4-23 .custom-select a, .tabbased-search-area .tab-content .flights-form .hotel-input-4-23 .custom-select a {
  color: #AAB1B7;
    text-align: left;
    width: 265px;
    padding: 16px 20px;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-1, .tabbased-search-area .tab-content .flights-form .hotel-input-1 {
    width: 12%;
    float: left;
    /*border-right: 1px solid #ccc;*/
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-1:last-child, .tabbased-search-area .tab-content .flights-form .hotel-input-1:last-child {
    border-right: none;
}
.tabbased-search-area .tab-content .hotels-form .searc-btn-7, .tabbased-search-area .tab-content .flights-form .searc-btn-7 {
    width: 6%;
    float: left;
}
.tabbased-search-area .tab-content .hotels-form .searc-btn-7 button, .tabbased-search-area .tab-content .flights-form .searc-btn-7 button {
    background: #FF4A52 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    font-weight: 500;
    height: 53px;
    padding: 0 24px;
    transition: all ease-in-out 0.3s;
}

.tabbased-search-area .tab-content .hotels-form .searc-btn-7 button:hover, .tabbased-search-area .tab-content .flights-form .searc-btn-7 button:hover {
    background: #1EC6B6;
}
.tabbased-search-area .tab-content .flights-form input {
    -moz-user-select: none;
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    color: #AAB1B7;
    height: 53px;
    position: relative;
    text-align: left;
    width: 100%;
}
.tabbased-search-area .tab-content .flights-form input:focus {
    outline: none;
}
.tabbased-search-area .tab-content .flights-form input::-webkit-input-placeholder {
  color: #AAB1B7;
}
.tabbased-search-area .tab-content .flights-form input::-moz-input-placeholder {
  color: #AAB1B7;
}
.tabbased-search-area .tab-content .flights-form input::-ms-input-placeholder {
  color: #AAB1B7;
}
.tabbased-search-area .tab-content .flights-form .tour-input-20 {
    width: 18%;
    float: left;
    /*border-right: 1px solid #ccc;*/
}


.tabbased-search-area .tab-content .flights-form .tour-input-15 {
    width: 14.5%;
    float: left;
    /*border-right: 1px solid #ccc;*/
}
.tabbased-search-area .tab-content .flights-form .tour-input-7-5 {
    width: 7%;
    float: left;
    /*border-right: 1px solid #ccc;*/
}
.tabbased-search-area .tab-content .flights-form .tour-input-7-5:last-child {
    border-right: none;
}
.tabbased-search-area .tab-content .flights-form .tour-input-7-5 .custom-select {
    background: #fff url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center right 8px;
}
.tabbased-search-area .tab-content .flights-form .custom-select {
    width: 100%;
    height: 53px;
    border: none;
}
.tabbased-search-area .tab-content .flights-form .custom-select a {
    color: #555555;
    text-align: left;
    padding: 16px;
}

/*====================Area Guarantee===========================*/
.ftco-section {
  padding-top: 6em;
  padding-bottom: 3em;
  position: relative; 
  top: 260px;
}
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }
  @media (min-width: 768px) {
    .ftco-section .container-fluid {
      padding: 0 4em; } }

      .ftco-section {
        position: relative;
        width: 100%;
        display: block; }
        .ftco-section .nav-pills p {
          margin-bottom: 0; }
        .ftco-section .nav-pills .nav-link {
          border-radius: 0;
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 400;
          position: relative;
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          color: #b3b3b3;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          border-radius: 30px; }
          .ftco-section .nav-pills .nav-link:hover {
            color: #000000; }
          .ftco-section .nav-pills .nav-link.active {
            color: #fff;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            .ftco-section .nav-pills .nav-link.active:after {
              opacity: 1; }
            @media (max-width: 767.98px) {
              .ftco-section .nav-pills .nav-link.active:after {
                opacity: 0; } }
          @media (max-width: 767.98px) {
            .ftco-section .nav-pills .nav-link {
              display: block;
              width: 100%;
              margin-bottom: 5px; } }
        .ftco-section .tab-content .tab-pane h2 {
          font-size: 24px; }
        .ftco-section .tab-content .tab-pane .one-forth {
          width: 50%; }
          .ftco-section .tab-content .tab-pane .one-forth img {
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03); }
            @media (max-width: 767.98px) {
              .ftco-section .tab-content .tab-pane .one-forth img {
                margin-bottom: 20px; } }
          @media (max-width: 767.98px) {
            .ftco-section .tab-content .tab-pane .one-forth {
              width: 100%; } }
        .ftco-section .tab-content .tab-pane .one-half {
          width: 50%; }
          @media (max-width: 767.98px) {
            .ftco-section .tab-content .tab-pane .one-half {
              width: 100%; } 
}

.ftco-section-parallax {
  position: relative;
}

.ftco-section-parallax .parallax-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 10em 0;
    background: #2ebdc4;
    background: -moz-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #2ebdc4), color-stop(100%, #68e5b2));
    background: -webkit-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    background: -o-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    background: -ms-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    background: -webkit-linear-gradient(315deg, #2ebdc4 0%, #68e5b2 100%);
    background: -o-linear-gradient(315deg, #2ebdc4 0%, #68e5b2 100%);
    background: linear-gradient(135deg, #2ebdc4 0%, #68e5b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebdc4', endColorstr='#68e5b2', GradientType=1 ); 
}

.ftco-section-parallax .heading-section-white h2 {
    font-weight: 400 !important;
}

.services-section .container {
  /*margin-top: -120px;*/
  position: relative; 
}

.services {
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  padding: 25px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .services .icon {
    line-height: 1.3;
    position: relative; }
    .services .icon span {
      font-size: 60px;
      color: #f85959; }
  .services .media-body h3 {
    font-size: 20px; }
  .services:hover {
    background: #f85959;
    color: #fff !important; }
    .services:hover .icon span {
      color: #fff !important; }
    .services:hover h3 {
      color: #fff !important; }

.ftco-animate{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; 
}

.ftco-section .container{
  padding-right: 15px;
  padding-left: 15px; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ftco-section .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 101.5px;
  margin-left: 101.5px; }
  @media (min-width: 576px) {
    .ftco-section .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .ftco-section .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .ftco-section .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .ftco-section .container {
      max-width: 1140px; } }

.block-6 {
  margin-bottom: 40px; }
  .block-6 .media-body p {
    font-size: 16px; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.block-6 {
  margin-bottom: 40px; }
  .block-6 .media-body p {
    font-size: 16px; 
    margin-top: 0;
    margin-bottom: 1rem;
  }

.mb-3, .my-3 {
  margin-bottom: 1rem !important; }

.ftco-section .media-body h3{
  line-height: 1.5;
  color: #000000;
  font-weight: 400;
  }

.ftco-section .media-body p{
  line-height: 1.8;
  font-weight: 300;
  }

/*====================Area Guarantee===========================*/

/*====================Area Destinasi===========================*/
.popular_destination_area {
  padding-top: 350px;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .popular_destination_area {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

/* line 8, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 14, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:before {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#040e27+0,040e27+100&0+0,0.7+100 */
  background: -moz-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00040e27', endColorstr='#b3040e27',GradientType=0 );
  /* IE6-9 */
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

/* line 30, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .thumb img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 35, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 7;
}

/* line 40, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content p {
  margin-bottom: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 47, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content p a {
  display: inline-block;
  background: #1EC6B6;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 400;
  padding: 0px 12px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 62, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 65, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover .content p {
  color: #FF4A52;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 68, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover .content p a {
  background: #FF4A52;
  color: #fff;
}

/* line 80, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_banner_wrap {
  background-image: url(../images/banner/destination.png);
  padding: 340px 0;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767px) {
  /* line 80, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_banner_wrap {
    padding: 150px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 80, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_banner_wrap {
    padding: 250px 0;
  }
}

/* line 91, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_banner_wrap.overlay:before {
  opacity: .3;
}

/* line 95, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_banner_wrap .destination_text h3 {
  font-size: 80px;
  line-height: 90px;
  color: #fff;
  font-family: "Nothing You Could Do", cursive;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  /* line 95, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_banner_wrap .destination_text h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 95, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_banner_wrap .destination_text h3 {
    font-size: 60px;
    line-height: 70px;
  }
}

/* line 110, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_banner_wrap .destination_text p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

/* line 118, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info {
  padding-bottom: 150px;
  padding-top: 70px;
}

@media (max-width: 767px) {
  /* line 118, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_details_info {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 118, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_details_info {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

/* line 129, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .bordered_1px {
  border-top: 1px solid #E4E6E8;
  margin-top: 65px;
  padding-bottom: 65px;
}

/* line 135, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .destination_info h3 {
  font-size: 24px;
  font-weight: 500;
  color: #001D38;
  margin-bottom: 25px;
}

/* line 142, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .destination_info p {
  margin-bottom: 20px;
}

/* line 145, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .destination_info .single_destination {
  margin-bottom: 22px;
}

/* line 147, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .destination_info .single_destination h4 {
  font-size: 16px;
  font-weight: 500;
}

/* line 157, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join h3 {
  font-size: 24px;
  font-weight: 500;
  color: #001D38;
  margin-bottom: 32px;
}

/* line 163, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input {
  margin-bottom: 20px;
}

/* line 165, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input input, .destination_details_info .contact_join .single_input textarea {
  width: 100%;
  background: #F4F4F4;
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  padding-left: 15px;
  border: none;
}

/* line 173, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input input::placeholder, .destination_details_info .contact_join .single_input textarea::placeholder {
  color: #727272;
  font-size: 14px;
  font-weight: 300;
}

/* line 179, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input input:focus, .destination_details_info .contact_join .single_input textarea:focus {
  outline: none;
}

/* line 183, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input textarea {
  height: 115px;
  padding: 15px;
}

/* line 189, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .submit_btn button {
  width: 100%;
  text-align: center;
}

/*Title Destnation*/
.section_title h3 {
  font-size: 38px;
  font-weight: 400;
  color: #040E27;
  position: relative;
  z-index: 0;
  padding-bottom: 7px;
}

@media (max-width: 767px) {
  /* line 2, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 2, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 2, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 35px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  /* line 22, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 22, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 22, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

/* line 34, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
.section_title p {
  font-size: 16px;
  color: #7A838B;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 40, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .section_title p br {
    display: none;
  }
}

/* line 48, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
.section_title h4 {
  font-size: 22px;
  font-weight: 500;
  color: #001D38;
  padding-bottom: 21px;
}
/*Akhir Title Desination*/

/* line 61, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
.mb_70.mb_70 {
  margin-bottom: 62px;
}

@media (max-width: 767px) {
  /* line 61, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .mb_70 {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 61, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_section_title.scss */
  .mb_70 {
    margin-bottom: 40px;
  }
}
/*====================Area Destinasi===========================*/


/*====================Area News Letter/ Subscribtion===========================*/
/* line 1, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area {
  background-image: url(../images/banner/newsletter.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 67px 0;
}

/* line 146, ../../Arafath/CL/December/231. Travel-02/HTML/scss/theme-default.scss */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #040E27;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .1;
}

/* line 7, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area.overlay::before {
  opacity: .7;
}

@media (max-width: 767px) {
  /* line 10, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
  .newletter_area .newsletter_text {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 10, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
  .newletter_area .newsletter_text {
    margin-bottom: 20px;
  }
}

/* line 17, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area .newsletter_text h4 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
  margin-bottom: 11px;
}

/* line 24, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area .newsletter_text p {
  color: #AAB1B7;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
}

/* line 32, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area .mail_form .newsletter_field {
  margin-right: 10px;
}

@media (max-width: 767px) {
  /* line 32, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
  .newletter_area .mail_form .newsletter_field {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/* line 38, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area .mail_form .newsletter_field input {
  width: 100%;
  height: 50px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding-left: 15px;
  color: #000;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

/* line 49, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area .mail_form .newsletter_field input::placeholder {
  color: #AAB1B7;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

/* line 55, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area .mail_form .newsletter_field input:focus {
  outline: none;
}

/* line 61, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
.newletter_area .mail_form .newsletter_btn button {
  width: 100%;
  text-align: center;
  padding: 13px 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 61, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_newsletter.scss */
  .newletter_area .mail_form .newsletter_btn button {
    width: auto;
    padding: 13px 40px;
  }
}

/* line 142, ../../Arafath/CL/December/231. Travel-02/HTML/scss/theme-default.scss */
.overlay {
  position: relative;
  z-index: 0;
}
/*====================Area News Letter/ Subscribtion===========================*/

/*====================Area Footer===========================*/
/* line 1, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #040E27;
  position: relative;
  z-index: 0;
}

/* line 9, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top {
  padding-top: 115px;
  padding-bottom: 129px;
}

@media (max-width: 767px) {
  /* line 9, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* line 16, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 16, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

/* line 23, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .links {
  position: relative;
  top: -14px;
}

/* line 27, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .links.double_links li {
  width: 50%;
  float: left;
}

/* line 33, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 45px;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 767px) {
  /* line 33, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

/* line 44, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 44, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

/* line 54, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p {
  color: #AAB1B7;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #AAB1B7;
}

/* line 61, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p a {
  color: #AAB1B7;
}

/* line 63, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p a:hover {
  color: #FF4A52;
}

/* line 69, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 26px;
}

/* line 75, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}

/* line 78, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #FF4A52;
  border-bottom: 1px solid #FF4A52;
}

/* line 84, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}

/* line 88, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #FF4A52;
  border-bottom: 1px solid #FF4A52;
}

/* line 92, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

/* line 100, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li {
  color: #ACACAC;
  font-size: 14px;
  line-height: 36px;
}

/* line 104, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a {
  color: #AAB1B7;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

/* line 108, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a:hover {
  color: #FF4A52 !important;
}

/* line 114, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

/* line 117, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 50px;
  background: #F5FBFF;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  border: none;
  border: 1px solid #E8E8E8;
  border-radius: 30px;
  font-family: "Rubik", sans-serif;
  padding-right: 120px;
}

/* line 129, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 15px;
  color: #AAB1B7;
}

/* line 133, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input:focus {
  outline: none;
}

/* line 137, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #FF4A52;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 30px;
  top: 5px;
  right: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

/* line 157, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_text {
  font-size: 14px;
  color: #AAB1B7;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
}

/* line 163, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .instagram_feed {
  margin: -7.5px -7.5px 0 -7.5px;
}

/* line 165, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .instagram_feed .single_insta {
  width: 33.33%;
  float: left;
  padding: 7.5px;
  overflow: hidden;
}

/* line 171, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .instagram_feed .single_insta img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 179, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .copy-right_text {
  padding-bottom: 26px;
}

/* line 181, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .copy-right_text .footer_border {
  border-top: 1px solid #363E52;
  padding-bottom: 26px;
}

/* line 185, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right {
  font-size: 14px;
  color: #7A838B;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 185, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
  .footer .copy-right_text .copy_right {
    font-size: 14px;
  }
}

/* line 193, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right a {
  color: #FF4A52;
}

/* line 198, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .socail_links {
  margin-top: 47px;
}

@media (max-width: 767px) {
  /* line 198, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
  .footer .socail_links {
    margin-top: 30px;
  }
}

/* line 204, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .socail_links ul li {
  display: inline-block;
}

/* line 207, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .socail_links ul li a {
  font-size: 15px;
  color: #C3B2F0;
  width: 30px;
  display: inline-block;
  text-align: center;
  background: transparent;
  margin-right: 7px;
  color: #FFFFFF;
  line-height: 40px !important;
  color: #E8E8E8;
}

/* line 222, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_footer.scss */
.footer .socail_links ul li a:hover {
  color: #FF4A52 !important;
  border-color: transparent;
}

a:focus, a:hover, .portfolio-cat a:hover,.footer -menu li a:hover {
  text-decoration: none;
}



/*====================Area Footer===========================*/

